body {
  font-family: Roboto, sans-serif;
}

.navbar {
  background-color: #e15f41;
}

.nav .nav-link.active {
  background-color: #fff;
  color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}

.navbar-brand {
  font-family: Pacifico, cursive;
  background-color: transparent;
  border: none;
}

.navbar-toggler {
  background-color: #ffeae6;
}
